.container {
	@include container();
	
	padding-top: 50px;
	padding-bottom: 50px;
}

.title {
	@include title();
	
	margin-bottom: 30px;
	font-size: 32px;
	color: $baseBlack;
	text-align: center;
}

.description {
	color: $baseBlack;
	max-width: 800px;
	font-size: 20px;
	margin-bottom: 30px;
	
	@include mobile {
		font-size: 18px;
	}
}

.imagesGrid {
	display: grid;
	grid-template: repeat(2, max-content) / repeat(2, 1fr);
	gap: 20px;
	margin-bottom: 10px;

	@include mobile {
		grid-template: unset;
	}
}

.image {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 2 / 1.2;
	border-radius: $borderRadius;
}

.openMoreImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
	border-radius: $borderRadius;
	aspect-ratio: 2 / 1.2;

	background-repeat: no-repeat !important;
	background-size: cover !important;

	@include mobile {
		background-position: center;;
	}
}

.moreImagesTitle {
	@include title();

	font-size: 25px;
}

.popupImages {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;

	@include mobile {
		grid-template-columns: unset;
	}
}

.popupImage {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 2 / 1.1;
	border-radius: $borderRadius;
}
