.popupContent {
	color: $baseBlack;
	padding: 50px 40px 50px 40px;

	@include mobile {
		padding: 45px 25px;
	}
}

.popup {
	width: 600px;
	
	@include mobile {
		max-width: 600px;
		width: calc(100% - 20px);
	}
}

.quantityBlock {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 5px;
	column-gap: 20px;
	grid-template-columns: max-content 1fr;
	align-items: center;

	& input {
		padding: 0;
		text-align: center;
		height: 60px;
	}

	& span {
		font-size: 18px;

		@include mobile {
			font-size: 14px;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	max-width: 600px;
}

.button {
	width: 100% !important;
}

.header {
	margin-bottom: 30px;
}

.title {
	@include title();

	font-size: 30px;
	font-weight: $fontMedium;
	margin-bottom: 10px;

	@include mobile {
		font-size: 22px;
	}
}

.description {
	font-size: 18px;
	max-width: 800px;
	
	@include mobile {
		font-size: 16px;
	}
}

.successTitle {
	@include title();

	font-size: 28px;
	margin-bottom: 10px;

	@include mobile {
		font-size: 24px;
	}
}

.successDescription {
	font-size: 18px;

	@include mobile {
		font-size: 16px;
	}
}

.priceBlock {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.price {
	font-size: 28px;
	font-weight: $fontMedium;

	@include mobile {
		font-size: 26px;
	}
}

.conf {
	font-size: 14px;
	color: #5d5d5d;

	& a {
		color: #1774be;
	}
}
