$brandColor: #77B120;
$baseWhite: #FFFFFF;
$baseBlack: #2C2C2C;
$inactiveGrayBackground: #d3d3d3;
$inactiveGrayColor: #6f6f6f;


$brandHoverColor: #7cbb20;

$borderRadius: 8px;

$fontInter: 'Inter', sans-serif;

$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;
