.text {
	color: $baseBlack;
	font-size: 20px;
	
	@include mobile {
		font-size: 16px;
	}
	
	& p, h1, h2, h3, h4, h5, h6 {
		margin-bottom: 20px;
	}
}

.image {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-top: 20px;
}
